# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=989de18f42217acf47ef0d94a553914a
# 127.0.0.1,127.0.0.2
# localhost,example.com
###< symfony/framework-bundle ###
