# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=989de18f42217acf47ef0d94a553914a
# 127.0.0.1,127.0.0.2
# localhost,example.com
###< symfony/framework-bundle ###

# Contentful configuration
CONTENTFUL_SPACE_ID=qz0n5cdakyl9
CONTENTFUL_DELIVERY_TOKEN=580d5944194846b690dd89b630a1cb98a0eef6a19b860ef71efc37ee8076ddb8
CONTENTFUL_PREVIEW_TOKEN=e8fc39d9661c7468d0285a7ff949f7a23539dd2e686fcb7bd84dc01b392d698b

CONTENTFUL_DELIVERY_URL=https://cdn.contentful.com/
CONTENTFUL_PREVIEW_URL=https://preview.contentful.com/
