<div class="module">
    <h2>{{ 'noContentLabel'|trans }}</h1>
    <h3>{{ 'hintsLabel'|trans }}</h2>

    <ul>
        <li>{{ 'notFoundErrorHint'|trans }}</li>
        <li>{{ 'draftOrPublishedErrorHint'|trans }}</li>
    </ul>
</div>
