{#
 * Template: partials/entryState.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry entry
 #}

{% if entry.draft %}
    <div class="editorial-features__item">
        <div class="pill pill--draft">
            {{ 'draftLabel'|trans }}
        </div>
    </div>
{% endif %}

{% if entry.pendingChanges %}
    <div class="editorial-features__item">
        <div class="pill pill--pending-changes">
            {{ 'pendingChangesLabel'|trans }}
        </div>
    </div>
{% endif %}
