{#
 * Template: partials/lessonModuleCopy.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry module
 #}

<div class="lesson-module lesson-module-copy">
    <div class="lesson-module-copy__copy">
        {{ module.copy|markdown }}
    </div>
</div>
