{#
 * Template: partials/moduleHeroImage.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry module
 #}

<div class="module module-hero-image">
    <div class="module-hero-image__wrapper">
        <div class="module-hero-image__headline-wrapper">
            <h2 class="module-hero-image__headline">{{ module.getHeadline() }}</h2>
        </div>

        <img src="{{ module.getBackgroundImage().getFile().getUrl() }}" alt="{{ module.getBackgroundImage().getTitle() }}" class="module-hero-image__image" />
    </div>
</div>
