{#
 * Template: partials/moduleHeroImage.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry module
 #}

<div class="module module-hero-image">
    <div class="module-hero-image__wrapper">
        <div class="module-hero-image__headline-wrapper">
            <h2 class="module-hero-image__headline">{{ module.headline }}</h2>
        </div>

        <img src="{{ module.backgroundImage.file.url }}" alt="{{ module.backgroundImage.title }}" class="module-hero-image__image" />
    </div>
</div>
