{#
 * Template: landingPage.html.twig
 *
 * @param Contentful\Delivery\Resource\Entry landingPage
 #}

{% extends 'base.html.twig' %}

{% set title = landingPage.title %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% if landingPage.slug != 'home' %}
        <div class="layout-centered">
            {% include 'partials/breadcrumb.html.twig' with {} only %}
        </div>
    {% endif %}

    <div class="layout-centered">
        {% include 'partials/editorialFeatures.html.twig' with {entry: landingPage} only %}
    </div>

    <div class="modules-container">
        {% for module in landingPage.contentModules %}
            {% set contentTypeId = module.contentType.id %}
            {% if contentTypeId == 'layoutCopy' %}
                {% include 'partials/moduleCopy.html.twig' with {module: module} only %}
            {% endif %}

            {% if contentTypeId == 'layoutHeroImage' %}
                {% include 'partials/moduleHeroImage.html.twig' with {module: module} only %}
            {% endif %}

            {% if contentTypeId == 'layoutHighlightedCourse' %}
                {% include 'partials/moduleHighlightedCourse.html.twig' with {module: module} only %}
            {% endif %}
        {% else %}
            {% include 'partials/emptyModule.html.twig' with {} only %}
        {% endfor %}
    </div>
{% endblock %}
